@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar bg-dark">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<AuthorizeView>
				Logged in: @context.User.Identity?.Name
			</AuthorizeView>
			<a href="https://github.com/V0ID12" target="_blank">About Me</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
